annotated-types
anyio
boto3
botocore
contourpy
cycler
fastapi
fonttools
idna
jmespath
joblib
kiwisolver
matplotlib
numpy
packaging
pandas
pillow
pydantic
pydantic_core
pyparsing
python-dateutil
pytz
s3transfer
scikit-learn
scipy
six
sniffio
starlette
threadpoolctl
typing-inspection
typing_extensions
tzdata
urllib3
